// Author: Artem Sapegin, http://sapegin.me, 2015

.dashboard {
	space(4);
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin-side:-(spacer);

	&__placeholder {
		margin-side:spacer;
	}
}
