// Author: Artem Sapegin, http://sapegin.me, 2015

.location-form {
	&__field {
		width:20em;
		display:inline-block;
		margin-right:spacer;
		vertical-align:middle;
	}

	&__interval {
		width:6em;
		display:inline-block;
		margin-right:spacer;
		vertical-align:middle;
	}

	&__submit {
		width:10em;
	}
}
