// Author: Artem Sapegin, http://sapegin.me, 2015

.weather-widget {
	position:relative;
	size:200px;
	margin-side:spacer;
	padding:spacer*.5 spacer;
	border:1px solid light_color;

	&__location {
		space();
		ellipsis();
		font-size:20px;
		color:light_color;
	}
	&:hover &__location {
		padding-right:10px;
	}

	&__city {
		display:inline;
		color:base_color;
	}

	&__country {
		display:none;
		margin-left:.3em;
	}
	&:hover &__country {
		display:inline;
	}

	&__temp {
		position:absolute;
		right:spacer;
		bottom:spacer*.5;
		font-size:32px;
		line-height:1.2;
	}

	&__icon {
		text-align:center;
		line-height:100px;
		vertical-align:middle;
	}

	&__details {
		display:none;
	}
	&:hover &__details {
		display:block;
		position:absolute;
		left:spacer;
		right:spacer;
		top:40px;
		height:100px;
		background:bg_color;
		font-size:15px;
	}

	&__remove {
		display:none;
		position:absolute;
		top:spacer*.5;
		right:spacer;
	}
	&:hover &__remove {
		display:block;
	}

	&__spinner {
		position:absolute;
		left:0;
		right:0;
		top:0;
		line-height:200px;
		text-align:center;
	}
	&__spinner-i {
		font-size:32px;
		vertical-align:middle;
	}

	&__error {
		color:error_color;
	}
}
