/* Author: Artem Sapegin, http://sapegin.me, 2015 */

max_width = 1600px;
sticky_footer_height = 22px;
spacer = 10px;
bg_color = #fff;
base_color = #111;
light_color = #ccc;
error_color = #e80b0b;
link_style = "underline";
link_color = base_color;
visited_color = base_color;
hover_color = #f58720;

@import "tamia";
@import "modules/select";
@import "modules/form";
@import "modules/spinner";
@import "styles";

@import "blocks/*";
