// Author: Artem Sapegin, http://sapegin.me, 2015

body {
	background:bg_color;
	color:base_color;
	line-height:1.5;
	padding:spacer*2;
	font-size:16px;
	if (max_width) {
		max-width:max_width;
		margin-left:auto;
		margin-right:auto;
	}
}


// Fonts

body { font-family:"Helvetica Neue", Arial, sans-serif; }
